body {
  font-family: sans-serif;
  width: 800px;
  height: 100%;
  margin: 0 auto;
  font-size: 14px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.trborder {
  border-bottom: 1px solid black;
}
th {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
td {
  text-align: left;
  padding-left: 10px;
  color: #000080;
  padding-top: 5px;
}
.tdpad {
  padding-top: 20px;
}
